#{extends 'main.html' /}
#{set title:'Оформление путевки' /}

#{if error}
<p><b>Статус/Ошибка : ${error}</b></p>
#{/if}

<br>
<form action="@{Application.GetPermit()}">
<table> <tbody>
	<input type="hidden" name="id_room" value="${id_room}">
	<input type="hidden" name="id_buyer" value="${id_buyer}">
	<tr><td>Дата отправления:</td><td> <input type="date" name="date" value="${old_date}"></td></tr>
	<tr><td>Период (кол-во дней):</td><td><input type="text" name="period" value="${old_period}" size="12"></td></tr>
	<tr><td>Транспорт:</td>
	<td><select name="id_transport">
	#{if tr3}
    	<option value="1">Самолет </option>
    	<option value="2">Поезд </option>
    	<option  selected  value="3">Автобус </option>
    #{/if}
    #{if tr2}
    	<option value="1">Самолет </option>
    	<option selected value="2">Поезд </option>
    	<option value="3">Автобус </option>
    #{/if}
    #{if tr1}	
    	<option selected value="1">Самолет </option>
    	<option value="2">Поезд </option>
    	<option value="3">Автобус </option>
	#{/if}

	</select></td></tr>
	<tr><td><input type="submit" value="Оформить"></td></tr>
</tbody></table> <br>
</form>
 
